.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .sectionTitle {
    margin-top: 56px;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  
  .projectsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .projectCard {
    width: 150px; /* Reduced width */
    height: 175px; /* Reduced height */
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  .projectOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .projectCard:hover .projectOverlay {
    opacity: 1;
  }
  
  .projectTitle {
    font-size: 0.8rem; /* Adjusted text size */
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .projectDescription {
    font-size: 0.7rem; /* Adjusted text size */
    color: #555;
    text-align: center;
  }
  
  .projectLink {
    font-size: 0.75rem; /* Adjusted link size */
    color: #0070f3;
    text-decoration: underline;
    margin-top: 0.5rem;
  }
  
  /* Responsive adjustments */
  @media (min-width: 600px) {
    .projectCard {
      width: 45%; /* Adjust if necessary */
    }
  }
  
  @media (min-width: 768px) {
    .projectCard {
      width: 30%; /* Adjust if necessary */
    }
  }
  